*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app
/gradle/wrapper
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle
/build.gradle
/.idea
/.project
/.settings
/.vscode